@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient (rbga(0, 0, 0, 0.5), rbga(0, 0, 0, 0,5));
    background-image: url(background.jpg) ;
}